@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Web developer<br />
    Chihuahua, México<br />
    <abbr title="Phone">P:</abbr>
    614.254.2471
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:respinozabarboza@gmail.com" target="_blank">respinozabarboza@gmail.com</a><br />
    <strong>Github repository:</strong> <a href="https://github.com/lreb/jabil-test" target="_blank">https://github.com/lreb/jabil-test</a>
</address>